/*  COLORS  */
$primary-color: #15a4fa
$secondary-color: #7590b4

$cell-color: #28415f
$menu-color: #233b5a
$hover-color: #1f3650
$border-color: #273e5b
$text-color: #6180a6
$bg-color: #1c324a

$shadow: 4px 4px 2px 0 rgba(#000, 0.24)

/*  SIZES  */
$cell-padding: 1em

/* TIMES */
$fast: 0.2s
$medium: 0.4s
